@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


// font-family: "Quicksand", serif; 

:root {
  --color-dark-brown: #261e1b;
  --color-tan: #9b8063;
  --color-beige: #f5f5dc;
  --color-white: #ffffff;
  --color-gray-brown: #383838;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  transition: 0.2s linear;
// outline: red solid 1px;
}

#container-all {
  padding: 0 12rem;
}

#infeite{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  gap: 0.5rem;

  .linhas{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    gap: 4px;
    
    .linha01,
    .linha02{
      height: 1px;
      width: 40px;
      background-color: var(--color-dark-brown);
      border-radius: 50%;
    }

    .linha02{
      width: 50px;
    }
  }

  img{
    height: 20px;
  }

}


#video-background{
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: -1;
  height: 100%;
  width: 100%;

  video{
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
    cursor: none;
  }

  .mascara-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(109deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6));
    pointer-events: none;
  }
}

header {
  position: fixed;
  top: 0;
  padding: 1rem 0;
  width: 100%;
  z-index: 1000;



  .container-header {
    background-color: var(--color-dark-brown);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
    padding: 0 1rem;
    border-radius: 50px;

    .links {
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        li{
            a{
                color: var(--color-white);
                font-size: 1.2rem;
                font-weight: 500;
                font-family: "Urbanist", serif;
                font-weight: 700;
                border-radius: 10px;
                letter-spacing: 2px;

                &:hover{
                    color: var(--color-tan);
                    font-size: 1.3rem;
                }
            }
        }
      }
    }

    .logo {
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      position: relative;
      img {
        height: 90%;
        background-color: var(--color-whitek-brown);
      }
    }

    .button-menu-links{
        display: none;
    }

    .icons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
  }
}

#home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    height: 100vh;
    color: var(--color-beige);
    font-family: "Urbanist", serif;
    font-size: 1.7rem;
    text-align: center;
    text-transform: uppercase;
    gap: 1.2rem;
    letter-spacing: 1px;

    img{
      height: 260px;
    }
}

#historia{
height: 500px;
display: flex;
align-items: center;
justify-content: flex-start;
padding: 1.4rem 0;
flex-direction: column;
gap: 1.1rem;

h2{
    font-family: "Urbanist", serif;
    font-size: 2.5rem;
    color: var(--color-dark-brown);
    font-weight: 900;
}
}


